프로젝트 최상단에 .env 파일을 만들고 아래내용 그대로 복붙

# Next.js 환경 변수 설정
NEXT_PUBLIC_SERVER_URL=http://localhost:8080
NEXT_PUBLIC_KAKAO_MAP_KEY=여기에_카카오_JavaScript_키_입력
NEXT_PUBLIC_WEBSOCKET_URL=ws://localhost:8080/ws-guest-chat